[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
polars = "*"
s3fs = "*"
pandas = "*"
pyarrow = "*"
python-dotenv = "*"
duckdb = "*"
dbt = "*"
dbt-duckdb = "*"
fsspec = "*"
dagster = "*"
dagster-webserver = "*"

[dev-packages]

[requires]
python_version = "3.10"
